@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -10;
  background: #4f94c9;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 15%;
  width: 152px;
  height: 152px;
  bottom: -152px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 8%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 50%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 3s;
}
.background li:nth-child(3) {
  left: 36%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 11s;
}
.background li:nth-child(4) {
  left: 32%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 57%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 14s;
}
.background li:nth-child(6) {
  left: 64%;
  width: 189px;
  height: 189px;
  bottom: -189px;
  animation-delay: 12s;
}
.background li:nth-child(7) {
  left: 29%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 11s;
}
.background li:nth-child(8) {
  left: 84%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 16s;
}
.background li:nth-child(9) {
  left: 19%;
  width: 184px;
  height: 184px;
  bottom: -184px;
  animation-delay: 7s;
}
